// Import page-specific CSS files here.
@import "home";
@import "new";
@import "show";

* {
  box-sizing: border-box!important;
}

body {
  background-image: url('https://photos.tf1.fr/1920/1080/fond-collection-ott-f6bf7c-db0f06-0@1x.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.herobanner {
  width: 100%;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 15px black;
  }
}
